<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= user.date %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= user.description %>
  </p>

  <p>
    <strong>Aceitou os termos? :</strong>
    <%= user.done %>
  </p>

</div>
